@keyframes back-glow {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 50% 50%;
    }
}


#background-image {
    position: fixed;

}

body {
    background-image: url("image-full-2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ghost-button {
    display: inline-block;
    font-size: 20px;
    width: 200px;
    padding: 8px;
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
.ghost-button:hover,
.ghost-button:active {
    background-color: #fff;
    color: #000;
}

.container-main {
    background-color: rgba(0, 0, 0, .7);
    max-width: 800px;
    margin: 20px auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 30px 20px 40px 20px;
}