body {
    background-size: 120%;
    background-image: url("image-full-2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: aquamarine;
}

.ghost-button {
    display: inline-block;
    font-size: 20px;
    width: 200px;
    padding: 8px;
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
.ghost-button:hover,
.ghost-button:active {
    background-color: #fff;
    color: #000;
}