@-webkit-keyframes raining {
    from {
        top: -100px;
    }
    to {
        top:100%;
    }
}

@keyframes raining {
    from {
        top: -100px;
    }
    to {
        top:100%;
    }
}

.rain {
    position: fixed;
    -webkit-animation: raining ease-in forwards infinite;
            animation: raining ease-in forwards infinite;
    z-index: -1;
}